<form action="/students/<%=student.id%>?_method=PUT" method= "POST">
	
	<label>Name:</label>
  	<input id="POST-name" type="text" name="name" value="<%=student.name %>">
  	<input type="submit" value="Submit">

</form>