<!DOCTYPE html>
<html>

  <head>
            <% include ./partials/head %>
  </head>

  <body>
            <center><% include ./partials/bodyEdit %></center>
             
  <footer>
            <% include ./partials/footer %>
  </footer>

  </body>  


</html>